# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
target/test-classes/com/kuta/just8023/service/test/Test.class
target/test-classes/com/kuta/just8023/redis/test/RedisUtil.class
target/classes/META-INF/maven/com.kuta.just8023/just8023/pom.properties
target/classes/com/kuta/just8023/controller/HolleWorldController.class
target/test-classes/com/kuta/just8023/redis/test/TestRedis.class
target/classes/META-INF/MANIFEST.MF
*.class
target/classes/META-INF/maven/com.kuta.just8023/just8023/pom.xml
target/classes/config/applicationContext.xml
