<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.OaUserWorkMapper" >
  <resultMap id="BaseResultMap" type="com.kuta.just8023.model.OaUserWork" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="from_time" property="fromTime" jdbcType="TIMESTAMP" />
    <result column="to_time" property="toTime" jdbcType="TIMESTAMP" />
    <result column="work_unit" property="workUnit" jdbcType="VARCHAR" />
    <result column="work_position" property="workPosition" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_code, from_time, to_time, work_unit, work_position
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oa_user_work
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oa_user_work
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kuta.just8023.model.OaUserWork" >
    insert into oa_user_work (id, user_code, from_time, 
      to_time, work_unit, work_position
      )
    values (#{id,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{fromTime,jdbcType=TIMESTAMP}, 
      #{toTime,jdbcType=TIMESTAMP}, #{workUnit,jdbcType=VARCHAR}, #{workPosition,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kuta.just8023.model.OaUserWork" >
    insert into oa_user_work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userCode != null" >
        user_code,
      </if>
      <if test="fromTime != null" >
        from_time,
      </if>
      <if test="toTime != null" >
        to_time,
      </if>
      <if test="workUnit != null" >
        work_unit,
      </if>
      <if test="workPosition != null" >
        work_position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="fromTime != null" >
        #{fromTime,jdbcType=TIMESTAMP},
      </if>
      <if test="toTime != null" >
        #{toTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workUnit != null" >
        #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="workPosition != null" >
        #{workPosition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuta.just8023.model.OaUserWork" >
    update oa_user_work
    <set >
      <if test="userCode != null" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="fromTime != null" >
        from_time = #{fromTime,jdbcType=TIMESTAMP},
      </if>
      <if test="toTime != null" >
        to_time = #{toTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workUnit != null" >
        work_unit = #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="workPosition != null" >
        work_position = #{workPosition,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuta.just8023.model.OaUserWork" >
    update oa_user_work
    set user_code = #{userCode,jdbcType=VARCHAR},
      from_time = #{fromTime,jdbcType=TIMESTAMP},
      to_time = #{toTime,jdbcType=TIMESTAMP},
      work_unit = #{workUnit,jdbcType=VARCHAR},
      work_position = #{workPosition,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>